<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block titulo %}
        
        {% endblock %}
        <link rel="stylesheet" href="../static/normalize.css">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body background="../static/image/backgroundportdesf1800pb.jpg">
        <div class="topo">
            <div class="hamburguer">
                <input id="menu__toggle" type="checkbox" />
                <label class="menu__btn" for="menu__toggle">
                    <span></span>
                </label>
            
                <ul class="menu__box">
                    <li><a class="menu__item" href="/home">Home</a></li>
                    <li><a class="menu__item" href="/sobre">Sobre</a></li>
                    <li><a class="menu__item" href="/projetos">Projetos</a></li>
                </ul>
            </div>
            <div class="nome">
                <h1>Ryan Verissimo de Araujo</h1>
            </div>
            
            <div class="imagem">
                <img src="../static/image/R45.png" alt="Logo">
            </div> 
        </div>
        {% block conteudo %}

        {% endblock %}
    </body>
</html>