{% extends "base.html" %}

{% block titulo %}
    <title>Ryan</title>
{% endblock %}

{% block conteudo %}
    <div class="index">
        <div class = "foto-perfil">
            <img src = "../static/image/fotominha.jpg" alt="foto minha">
        </div>
    </div>
    
    <div class="index-text">
        <div class="resumo">
            <h2>Estudante de Desenvolvimento de Software</h2>
            <h2>&</h2>
            <h2>Técnico em Automação Indústrial</h2>
        </div>
    </div>
    <div class="icons">
        <img src="../static/image/instaicon.svg" alt="icone instagram">
        <img src="../static/image/linkedinicon.svg" alt="icone linkedin>">
        <img src="../static/image/githubicon.svg" alt="icone github">
        <img src="../static/image/whatsicon.svg" alt="icone whatsapp">
    </div>
{% endblock %}