{% extends "base.html" %}

{% block titulo %}
    <title>About me</title>
{% endblock %}

{% block conteudo %}
    <div class="sobre">
        <div class="subtitulo">
            <h2>ABOUT ME...</h2>
        </div>
    </div>
    <div class="descritivo">
        <div class="texto-descritivo">
            <h3> {{ textosobre }} </h3>
        </div>
    </div>
    <div class="descritivo">
        <div class="fotos-sobre">
            <img src="../static/image/tela_c_prog.jpg" alt="programando em C" id="prog">
            <img src="../static/image/imagem_fut.png" alt="jogando futebol" id="fut">
        </div>
    </div>
{% endblock %}