{% extends "base.html" %}

{% block titulo %}
    <title>Sobre Mim</title>
{% endblock %}

{% block conteudo %}
    <div class="sobre">
        <div class="subtitulo">
            <h2>Um pouco sobre mim...</h2>
        </div>
    </div>
    <div class="descritivo">
        <div class="texto-descritivo">
            <h3>Olá, me chamo Ryan tenho 18 anos e estudo Desenvolvimento de Software na Fatec de SJC. Criei gosto pela área de programação no ano de 2022 quando cursava Técnico em Automação industrial e programava microcontroladores na linguagem C e C++ (que hoje em dia eu não gosto nem de ouvir falar kkkk) mas foi importante para minha descoberta do mundo dos scripts. Gosto de jogar futebol/futsal, ja treinei e joguei em alguns times durante alguns anos.</h3>
        </div>
    </div>
    <div class="fotos-sobre">
        <img src="../static/image/tela_c_prog.jpg" alt="programando em C" id="prog">
    </div>
{% endblock %}