{% extends "base.html" %}

{% block titulo %}
    <title>Sobre Mim</title>
{% endblock %}

{% block conteudo %}
    <div class="sobre">
        <div class="subtitulo">
            <h2>UM POUCO SOBRE MIM...</h2>
        </div>
    </div>
    <div class="descritivo">
        <div class="texto-descritivo">
            <h3>Eai tudo bem? Seja bem vindo ao meu portifólio, eu me chamo Ryan tenho 18 anos e atualmente estudo Desenvolvimento de Software na Fatec de SJC. Criei gosto pela área de programação no ano de 2022 quando cursava Técnico em Automação industrial e programava microcontroladores na linguagem C e C++ (hoje em dia aderi a palavra do python e sou mais familiarizado com ele kkkk) mas foi importante para minha descoberta do mundo dos scripts, sempre gostei de lógica. Gosto de jogar futebol/futsal, ja treinei e joguei em alguns times durante uns anos.</h3>
        </div>
    </div>
    <div class="descritivo">
        <div class="fotos-sobre">
            <img src="../static/image/tela_c_prog.jpg" alt="programando em C" id="prog">
            <img src="../static/image/imagem_fut.png" alt="jogando futebol" id="fut">
        </div>
    </div>
{% endblock %}