@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

html{
  font-family: 'Inter', sans-serif, 'Times New Roman', Times, serif;
}

body{
  background-image: url(image/backgroundportdesf1800pb.jpg);
  background-repeat: repeat;
  background-size: cover;
}
section{
 height: 100vh;
}

/* menu */
#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
.menu__btn {
    position: fixed;
    top: 30px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
  }
.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
.menu__btn > span::before {
    content: '';
    top: -8px;
  }
.menu__btn > span::after {
    content: '';
    top: 8px;
  }
.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #D9D9D9;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
.menu__item:hover {
    background-color: #CFD8DC;
  }

/* restante do base */
.topo{
    background-color: rgb(217, 217, 217);
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    text-align: center;
    position: fixed;
}
.nome {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nome > h1 {
    margin-left: 10%;
    margin-top: 1%;
    font-weight: 400;
    font-size: 198%;
}

.imagem {
    width: 10%;
    display: flex;
    flex-direction: row-reverse;
    opacity: 1;
}

.imagem > a > img {
    width: 70px;

}

/* estilo index*/

.index{
  display: flex;
  justify-content: center;
  align-items: center;
  }

.index > .foto-perfil {
  width: 70%;
  text-align: center;
  margin-top: 15%;
}

.index > .foto-perfil > img {
  border-radius: 50%;
  width: 50%;
  height: 50%;
  margin-top: 7%;
}

.index-text{
  display: flex;
  justify-content: center;
  align-items: center;
  }

.index-text > .resumo {
  text-align: center;
  width: 65%;
  background-color: rgba(217, 217, 217, 0.5);
  font-weight: 500;
  letter-spacing: 0.2em;
  margin-top: 3%;
  }

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos{
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 2%;
}
/* estilo sobre*/

.sobre {
  display: flex;
  justify-content: center;
}

.sobre > .subtitulo {
  background-color: #D9D9D9;
  opacity: 0.5;
  height: 8%;
  text-align: center;
  width: 90%;
  margin-top: 15%;
  margin-bottom: 2%;
  align-items: center;
  z-index: -1;
}

.sobre > .subtitulo > h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.2em;
  text-align: center;
  z-index: -1;
}

.descritivo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.descritivo > .texto-descritivo {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(217, 217, 217, 0.6);
}

.descritivo > .texto-descritivo > h3 {
  font-weight: 500;
  letter-spacing: 0.2em;
  text-align: center;
}

.fotos-sobre{
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  width: 90%;
  justify-content: space-evenly;
}

#prog {
  height: 40vw;
}

#fut {
  height: 40vw;
}

/* estilo projetos */

.projetos-pai{
  display: flex;
  justify-content: center;
}

.projetos{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-bottom: 2%;
  background-color: rgb(217, 217, 217, 0.6);
}

.texto-projetos{
  line-height: 220%;
}

#van-misterio{
  height: 40vw;
  margin-left: 2%;
}

#placar{
  height: 20vw;
  margin-right: 2%;
}

#data-sars{
  height: 12vw;
  margin-left: 2%;
}

@media screen and (max-width:600px) {

/* home */
  .nome {
    align-items: center;
  }

  .nome > h1 {
    font-size: 120%;
  }
/* fim home */

/* sobre */
  .fotos-sobre {
    flex-direction: column;
  }

  #prog {
    height: 100%;
  }

  #fut {
    height: 100%;
  }
/* fim sobre */

/* projetos */
  .projetos {
    flex-direction: column;
  }

  #tl {
    display: flex;
    flex-direction: column-reverse;
  }
}